.Address {
  padding: 40px 50px;
  margin-top: 50px;
  background-color: #f3f3f3;
}

.Address-Block {
  float: right;
  text-align: right;
}

.Address-Block.is-recipient {
  float: left;
  text-align: left;
}

.Address-Block-name {
  margin: 0;
  line-height: 1.7;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.Address-Block-address {
  color: #607d8b;
  margin: 0;
  font-size: 14px;
}

.Address-Block-address p {
  margin: 0;
  line-height: 1.5;
}

